<div
  #signOutModal
  id="popup-modal"
  tabindex="-1"
  class="fixed top-0 left-0 right-0 z-20 p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-screen md:h-full bg-gray-900 bg-opacity-50"
  *ngIf="show"
>
  <div class="relative w-full h-full mx-auto max-w-lg md:h-auto">
    <div class="relative rounded-lg shadow bg-white">
      <button
        (click)="closeModal()"
        type="button"
        class="absolute transition duration-200 top-3 right-2.5 text-gray-400 bg-transparent rounded-lg text-sm p-1.5 ml-auto inline-flex items-center hover:bg-gray-800 hover:text-white"
      >
        <svg
          aria-hidden="true"
          class="w-5 h-5"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
            clip-rule="evenodd"
          ></path>
        </svg>
        <span class="sr-only">Close modal</span>
      </button>
      <div class="px-6 pt-4 w-1/2">
        <h2 class="font-medium text-xl">Edit Meeting</h2>
      </div>

      <div class="p-6">
        <form
          [formGroup]="form"
          (ngSubmit)="onSubmit()"
          enctype="multipart/form-data"
          class="space-y-2"
        >
          <div class="flex justify-between items-center flex-wrap">
            <label
              for="inline-input-label-with-helper-text"
              class="block text-sm mb-2 w-1/4"
              >Date</label
            >
            <input
              id="date"
              name="date"
              formControlName="date"
              value="{{ initialEvent.date | date : 'yyyy-MM-dd' }}"
              type="date"
              class="py-2 px-2 w-3/4 border border-gray-300 rounded-md text-sm focus:border-blue-500 ring:border-blue-500 outline-none"
            />
          </div>
          <div class="flex justify-between items-center flex-wrap">
            <label
              for="inline-input-label-with-helper-text"
              class="block text-sm mb-2 w-1/4"
              >Time</label
            >
            <div class="space-x-2 w-3/4 flex items-center">
              <input
                id="time_start"
                name="time_start"
                formControlName="time_start"
                type="time"
                step="600"
                min="07:00"
                max="23:00"
                class="py-2 px-2 grow border border-gray-300 rounded-md text-sm focus:border-blue-500 ring:border-blue-500 outline-none"
              />
              <span class="w-5 text-center text-xl font-medium">-</span>
              <input
                id="time_end"
                name="time_end"
                formControlName="time_end"
                type="time"
                class="py-2 px-2 grow border border-gray-300 rounded-md text-sm focus:border-blue-500 ring:border-blue-500 outline-none"
              />
            </div>
          </div>
          <div class="flex justify-between items-center flex-wrap">
            <label
              for="inline-input-label-with-helper-text"
              class="block text-sm mb-2 w-1/4"
              >Organizer</label
            >
            <input
              id="organizer"
              name="organizer"
              formControlName="organizer"
              (change)="changeOrganizer($event)"
              type="text"
              list="nameEmailList"
              class="py-2 px-2 w-3/4 border border-gray-300 rounded-md text-sm focus:border-blue-500 ring:border-blue-500 outline-none"
            />
            <datalist id="nameEmailList">
              <option
                *ngFor="let item of nameEmailEmployee; index as i"
                [value]="item[0]"
              >
                {{ item[1] }}
              </option>
            </datalist>
          </div>
          <div class="flex justify-between items-center flex-wrap">
            <label
              for="inline-input-label-with-helper-text"
              class="block text-sm mb-2 w-1/4"
              >Meeting Name</label
            >
            <input
              id="title"
              name="title"
              formControlName="title"
              type="text"
              class="py-2 px-2 w-3/4 border border-gray-300 rounded-md text-sm focus:border-blue-500 ring:border-blue-500 outline-none"
            />
          </div>
          <div class="flex justify-between items-center flex-wrap">
            <label
              for="inline-input-label-with-helper-text"
              class="block text-sm mb-2 w-1/4"
              >Online/ Offline</label
            >
            <div class="flex w-3/4">
              <div class="grow flex">
                <input
                  formControlName="online_offline"
                  [(ngModel)]="radioInput"
                  type="radio"
                  value="Offline"
                  id="offline"
                  name="online_offline"
                  class="py-3 mx-2 border border-gray-300 rounded-md text-sm focus:border-blue-500 ring:border-blue-500 outline-none"
                />
                <label for="offline" class="align-middle text-sm"
                  >Offline</label
                >
              </div>
              <div class="grow flex">
                <input
                  formControlName="online_offline"
                  [(ngModel)]="radioInput"
                  type="radio"
                  value="Online"
                  id="online"
                  name="online_offline"
                  class="py-3 mx-2 border border-gray-300 rounded-md text-sm focus:border-blue-500 ring:border-blue-500 outline-none"
                />
                <label for="online" class="text-sm">Online</label>
              </div>
            </div>
          </div>
          <div
            class="flex justify-between items-center flex-wrap"
            *ngIf="radioInput == 'Online'"
          >
            <label
              for="inline-input-label-with-helper-text"
              class="block text-sm mb-2 w-1/4"
              >Link Online</label
            >
            <input
              id="url_online"
              name="url_online"
              formControlName="url_online"
              type="text"
              list="onlineList"
              class="py-2 px-2 w-3/4 border border-gray-300 rounded-md text-sm focus:border-blue-500 ring:border-blue-500 outline-none"
            />
            <datalist id="onlineList">
              <option
                *ngFor="let item of listLink"
                class="text-cyan-500"
                [value]="item.link"
              >
                {{ item.name }}
              </option>
            </datalist>
          </div>
          <div
            class="flex justify-between items-center flex-wrap"
            *ngIf="radioInput == 'Offline'"
          >
            <label
              for="inline-input-label-with-helper-text"
              class="block text-sm mb-2 w-1/4"
              >Room Offline</label
            >
            <select
              class="py-2 px-2 w-3/4 border border-gray-300 rounded-md text-sm focus:border-blue-500 ring:border-blue-500 outline-none"
              id="roomId"
              name="roomId"
              formControlName="roomId"
              [value]="1"
            >
              <option *ngFor="let item of roomsApi" value="{{ item.id }}">
                {{ item.room_name }}
              </option>
            </select>
            <!-- <input
              id="roomId"
              name="roomId"
              formControlName="roomId"
              type="email"
              class="py-2 px-2 w-3/4 border border-gray-300 rounded-md text-sm focus:border-blue-500 ring:border-blue-500 outline-none"
            /> -->
          </div>
          <div class="flex justify-between items-center flex-wrap">
            <label
              for="inline-input-label-with-helper-text"
              class="block text-sm mb-2 w-1/4"
              >Participant</label
            >
            <input
              id="participants"
              name="participants"
              formControlName="participants"
              type="email"
              multiple
              list="emailList"
              class="py-2 px-2 w-3/4 border border-gray-300 rounded-md text-sm focus:border-blue-500 ring:border-blue-500 outline-none"
            />
            <datalist id="emailList">
              <option *ngFor="let item of nameEmailEmployee" [value]="item[0]">
                {{ item[1] }}
              </option>
            </datalist>
          </div>
          <div class="flex justify-between flex-wrap">
            <label
              for="inline-input-label-with-helper-text"
              class="block text-sm mb-2 w-1/4"
              >Message</label
            >
            <textarea
              id="message"
              name="message"
              formControlName="message"
              rows="5"
              class="py-2 px-2 w-3/4 border border-gray-300 rounded-md text-sm focus:border-blue-500 ring:border-blue-500 outline-none"
            ></textarea>
          </div>
          <div class="flex justify-end flex-wrap space-y-1">
            <label
              for="inline-input-label-with-helper-text"
              class="block text-sm mb-2 w-1/4"
              >Attachment (Optional)</label
            >

            <label
              class="w-3/4 flex flex-col items-center px-4 py-3 bg-white text-blue rounded-lg shadow-md tracking-wide uppercase border border-blue cursor-pointer hover:bg-blue-300 hover:text-white transition-colors"
            >
              <svg
                class="w-5 h-5"
                fill="currentColor"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
              >
                <path
                  d="M16.88 9.1A4 4 0 0 1 16 17H5a5 5 0 0 1-1-9.9V7a3 3 0 0 1 4.52-2.59A4.98 4.98 0 0 1 17 8c0 .38-.04.74-.12 1.1zM11 11h3l-4-4-4 4h3v3h2v-3z"
                />
              </svg>
              <span class="mt-1.5 text-sm leading-normal">Select a file</span>
              <input
                id="files"
                type="file"
                name="files"
                multiple
                ng2FileSelect
                [uploader]="uploader"
                class="hidden"
              />
            </label>
            <div
              *ngFor="let item of this.uploader.queue; index as i"
              class="relative w-3/4 overflow-hidden mt-1 py-1.5 px-3 border border-gray-200 shadow-md rounded-md flex justify-end items-center"
            >
              <a
                (click)="this.uploader.queue[i].remove()"
                class="absolute left-0 w-1/12 h-full flex justify-center items-center bg-red-400 hover:bg-red-500 cursor-pointer"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  height="20"
                  viewBox="0 -960 960 960"
                  width="20"
                  fill="white"
                >
                  <path
                    d="m361-299 119-121 120 121 47-48-119-121 119-121-47-48-120 121-119-121-48 48 120 121-120 121 48 48ZM261-120q-24 0-42-18t-18-42v-570h-41v-60h188v-30h264v30h188v60h-41v570q0 24-18 42t-42 18H261Zm438-630H261v570h438v-570Zm-438 0v570-570Z"
                  />
                </svg>
              </a>
              <span class="w-11/12 text-center text-sm">{{
                item.file.name
              }}</span>
            </div>
          </div>
          <div class="w-full flex"></div>
          <div class="flex justify-evenly pt-3">
            <a
              (click)="sendEmail()"
              class="relative flex cursor-pointer px-5 py-1.5 space-x-1 font-medium text-white transition duration-300 bg-green-400 rounded-md hover:bg-green-500 ease"
            >
              <span class="relative">Send Email</span>
              <svg
                class="mt-0.5"
                xmlns="http://www.w3.org/2000/svg"
                height="20"
                viewBox="0 -960 960 960"
                width="20"
                fill="white"
              >
                <path
                  d="M120-160v-640l760 320-760 320Zm60-93 544-227-544-230v168l242 62-242 60v167Zm0 0v-457 457Z"
                />
              </svg>
            </a>
            <a
              (click)="onSubmit()"
              class="relative px-5 py-1.5 cursor-pointer overflow-hidden font-medium text-gray-600 bg-gray-100 border border-gray-100 rounded-lg shadow-inner group"
            >
              <span
                class="absolute top-0 left-0 w-0 h-0 transition-all duration-200 border-t-2 border-gray-600 group-hover:w-full ease"
              ></span>
              <span
                class="absolute bottom-0 right-0 w-0 h-0 transition-all duration-200 border-b-2 border-gray-600 group-hover:w-full ease"
              ></span>
              <span
                class="absolute top-0 left-0 w-full h-0 transition-all duration-300 delay-75 bg-gray-600 group-hover:h-full ease"
              ></span>
              <span
                class="absolute bottom-0 left-0 w-full h-0 transition-all duration-300 delay-75 bg-gray-600 group-hover:h-full ease"
              ></span>
              <span
                class="absolute inset-0 w-full h-full duration-300 delay-300 bg-gray-900 opacity-0 group-hover:opacity-100"
              ></span>
              <span
                class="relative font-manrope font-semibold transition-colors duration-300 delay-75 group-hover:text-white ease"
                >Submit Edit</span
              >
            </a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
