<div class="mx-10 py-8">
  <div class="flex flex-wrap ">
    
  </div>
  <div class="flex flex-wrap ">
    <a
    (click)="previousMonth()"
      class="inline-flex shadow-md items-center px-4 py-2 mr-3 text-sm font-medium text-gray-500 bg-white border border-gray-300 rounded-lg hover:bg-gray-100 hover:text-gray-700"
    >
      Previous
    </a>
    <div class="justify-start flex ">
        <h1 class="font-manrope text-4xl  font-bold">{{ monthSelected.toLocaleString("default", { month: "long" }) }}</h1>
      </div>
    <a
      (click)="nextMonth()"
      class="inline-flex shadow-md items-center px-4 py-2 mx-3 text-sm font-medium text-gray-500 bg-white border border-gray-300 rounded-lg hover:bg-gray-100 hover:text-gray-700"
    >
      Next
    </a>
    <div class="justify-end flex grow ">
        <h1 class="font-manrope text-4xl  font-bold">{{ monthSelected.getFullYear() }}</h1>
      </div>
    
  </div>
</div>

<div class="mx-10 rounded-lg">
  <div class="flex flex-wrap bg-blue-600 text-white rounded-lg rounded-b-none">
    <div class="w-[14.2%] px-6 py-3 text-center grow">Monday</div>
    <div class="w-[14.2%] px-6 py-3 text-center grow">Tuesday</div>
    <div class="w-[14.2%] px-6 py-3 text-center grow">Wednesday</div>
    <div class="w-[14.2%] px-6 py-3 text-center grow">Thursday</div>
    <div class="w-[14.2%] px-6 py-3 text-center grow">Friday</div>
    <div class="w-[14.2%] px-6 py-3 text-center grow">Saturday</div>
    <div class="w-[14.2%] px-6 py-3 text-center grow">Sunday</div>
  </div>
  <div class="flex flex-wrap mt-0.5 mb-5">
    <div
      class="w-[14.2%] h-28 grow flex justify-start border p-1"
      *ngFor="let item of arrayDateinMonth; index as i"
      [ngClass]="item.date == currentDate.getDate() && item.month == currentDate.getMonth() && item.year == currentDate.getFullYear() ? 'border-1 border-green-600': ''"
    >
    <span class="w-5 text-xl font-semibold" [ngClass]="item.month != monthSelected.getMonth()? 'text-gray-400' : (item.date == currentDate.getDate() && item.month == currentDate.getMonth() && item.year == currentDate.getFullYear() ? 'text-green-600': '')">
        {{ item.date }}  
    </span>
    <div class="w-full flex-wrap flex pt-5 pl-4 space-x-3" *ngIf="item.date == 10">
        <a [routerLink]="['/']" routerLinkActive="router-link-active"  class="w-5/12 h-fit bg-blue-200 hover:bg-blue-400 rounded-sm text-center"> 12.45</a>
        <a [routerLink]="['/']" routerLinkActive="router-link-active"  class="w-5/12 h-fit bg-blue-200 hover:bg-blue-400 rounded-sm text-center"> 14.00</a>
    </div>
    
      
    </div>
  </div>
</div>
