<ngx-spinner
  color="white"
  type="ball-fussion"
  [fullScreen]="true"
  size="medium"
  ><p style="color: white">Loading...</p></ngx-spinner
>
<div class="mx-10 pt-8 pb-5 flex justify-between">
  <div class="flex flex-wrap w-1/4 max-[560px]:hidden">
    <img src="assets/img/otsuka-white.png" class="h-10 mx-3" alt="" />
  </div>
  <div class="flex flex-wrap space-x-3 max-[560px]:space-x-2">
    <a
      (click)="previousMonth()"
      
      class="inline-flex cursor-pointer shadow-md items-center px-4 max-[560px]:px-2 py-2 text-sm font-medium text-[#54086B] bg-white border border-gray-300 rounded-lg hover:bg-gray-100 hover:text-gray-700"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="w-4 h-4"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        stroke-width="2"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M15 19l-7-7 7-7"
        />
      </svg>
    </a>
    <div
      class="justify-start text-4xl max-sm:text-2xl items-center flex space-x-3 max-[560px]:space-x-1.5"
    >
      <h1 class="font-manrope font-bold text-white">
        {{ monthSelected.toLocaleString("default", { month: "long" }) }}
      </h1>
      <h1 class="font-manrope font-bold text-white">
        {{ monthSelected.getFullYear() }}
      </h1>
    </div>
    <a
      (click)="nextMonth()"
      
      class="inline-flex cursor-pointer shadow-md  items-center px-4 max-[560px]:px-2 py-2 text-sm font-medium text-[#54086B] bg-white border border-gray-300 rounded-lg hover:bg-gray-100 hover:text-gray-700"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="w-4 h-4"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        stroke-width="2"
      >
        <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7" />
      </svg>
    </a>
  </div>
  <div class="flex flex-wrap w-1/4 justify-end ">
    <a
      href="http://192.168.9.47/mris-kjy/schedule"
      routerLinkActive="router-link-active"
      class="relative cursor-pointer inline-flex mx-2 items-center justify-start px-5 max-[560px]:px-3 max-[560px]:text-sm py-1.5 overflow-hidden font-medium transition-all bg-[#50d3ee] rounded-md hover:bg-white group"
    >
      <span
        class="absolute inset-0 border-0 group-hover:border-[25px] ease-linear duration-100 transition-all border-white rounded-md"
      ></span>
      <span
        class="relative w-full text-left text-white transition-colors duration-200 ease-in-out group-hover:text-[#50d3ee]"
        >MRIS</span
      >
    </a>
    <a
      *ngIf="onAuthCheck()"
      [routerLink]="['/login']"
      routerLinkActive="router-link-active"
      class="relative cursor-pointer inline-flex items-center justify-start px-5 max-[560px]:px-3 max-[560px]:text-sm py-1.5 overflow-hidden font-medium transition-all bg-[#D89C60] rounded-md hover:bg-white group"
    >
      <span
        class="absolute inset-0 border-0 group-hover:border-[25px] ease-linear duration-100 transition-all border-white rounded-md"
      ></span>
      <span
        class="relative w-full text-left text-white transition-colors duration-200 ease-in-out group-hover:text-[#D89C60]"
        >Login</span
      >
    </a>
    
    <a
      *ngIf="!onAuthCheck()"
      (click)="signOut()"
      class="relative cursor-pointer inline-flex items-center justify-start px-5 max-[560px]:px-3 max-[560px]:text-sm py-1.5 overflow-hidden font-medium transition-all bg-[#ff3526] rounded-md hover:bg-white group"
    >
      <span
        class="absolute inset-0 border-0 group-hover:border-[25px] ease-linear duration-100 transition-all border-white rounded-md"
      ></span>
      <span
        class="relative w-full text-left text-white transition-colors duration-200 ease-in-out group-hover:text-[#ff3526]"
        >Sign Out</span
      >
    </a>
  </div>
</div>
<div class="flex justify-center items-center text-sm font-manrope">
  <div class="h-4 w-4 bg-[#045174] border  mx-2"></div>
  <h1 class="text-white mr-3">General Meeting</h1>
  <div class="h-4 w-4 bg-amber-600 border mx-2"></div>
  <h1 class="text-white">Yearly Meeting</h1>
</div>
<!-- Weekdays Name -->
<div class="mx-3 sm:mx-10 rounded-lg">
  <!-- Big Responsive -->
  <div
    class="flex flex-wrap bg-white bg-opacity-0 text-[#D89C60] font-medium rounded-md rounded-b-none max-md:hidden mx-0.5"
  >
    <div class="w-[14.2%] py-3 text-center grow">Monday</div>
    <div class="w-[14.2%] py-3 text-center grow">Tuesday</div>
    <div class="w-[14.2%] py-3 text-center grow">Wednesday</div>
    <div class="w-[14.2%] py-3 text-center grow">Thursday</div>
    <div class="w-[14.2%] py-3 text-center grow">Friday</div>
    <div class="w-[14.2%] py-3 text-center grow">Saturday</div>
    <div class="w-[14.2%] py-3 text-center grow">Sunday</div>
  </div>

  <!-- Small Responsive -->
  <div
    class="flex flex-wrap bg-white bg-opacity-0 text-[#D89C60] font-medium rounded-md rounded-b-none md:hidden max-sm:w[80%] mx-0.5"
  >
    <div class="w-[14.2%] py-3 text-center grow">Mon</div>
    <div class="w-[14.2%] py-3 text-center grow">Tue</div>
    <div class="w-[14.2%] py-3 text-center grow">Wed</div>
    <div class="w-[14.2%] py-3 text-center grow">Thu</div>
    <div class="w-[14.2%] py-3 text-center grow">Fri</div>
    <div class="w-[14.2%] py-3 text-center grow">Sat</div>
    <div class="w-[14.2%] py-3 text-center grow">Sun</div>
  </div>

  <!-- Calendar Date -->
  <div class="flex flex-wrap mt-0.5">
    <div
      class="w-[13%] h-20 sm:h-28 grow flex justify-start bg-white m-0.5"
      *ngFor="let item of arrayDateinMonth; index as i"
      [ngClass]="
        item.date == currentDate.getDate() &&
        item.month == currentDate.getMonth() &&
        item.year == currentDate.getFullYear()
          ? 'border-1 border-green-600'
          : ''
      "
    >
      <a
        [routerLink]="['/day']"
        [queryParams]="{ date: item.full}"
        routerLinkActive="router-link-active"
        class="w-full h-full flex hover:bg-gray-200 p-1"
        >
        <div><span
          class="w-6 pr-1 text-xl max-sm:text-[1rem] text-center font-semibold"
          [ngClass]="
            item.month != monthSelected.getMonth()
              ? 'text-gray-400'
              : item.date == currentDate.getDate() &&
                item.month == currentDate.getMonth() &&
                item.year == currentDate.getFullYear()
              ? 'text-green-600'
              : 'text-[#050833]'
          "
        >
          {{ item.date }}
        </span>
        <div *ngIf="filterM2upBirthday(item.month, item.date).length != 0">
          <a class="hover:bg-slate-100" [tooltip]="foearchM2up(filterM2upBirthday(item.month, item.date))"
          placement="top">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="20"
              viewBox="0 -960 960 960"
              width="20"
            >
              <path
                d="M160-80q-17 0-28.5-11.5T120-120v-219q0-24.75 17.625-42.375T180-399h27v-182q0-24.75 17.625-42.375T267-641h183v-64q-20-14-30.5-30.534T409-775.411q0-14.589 5.5-28.089Q420-817 430-827l50-53 50 53q10 10 16 23.5t6 28.089q0 23.343-11 39.877Q530-719 510-705v64h183q24.75 0 42.375 17.625T753-581v182h27q24.75 0 42.375 17.625T840-339v219q0 17-11.5 28.5T800-80H160Zm107-319h426v-182H267v182Zm-87 259h600v-199H180v199Zm87-259h426-426Zm-87 259h600-600Zm600-259H180h600Z"
              />
            </svg>
          </a>
        </div></div>
        
        
        <div class="w-full" *ngIf="filterEvents(item.localeString).length != 0 ||filterEventHo(item.year, item.month, item.date).length != 0  ">
          <div
            *ngFor="let item of filterEvents(item.localeString)"
            class="pb-0.5"
          >
            <div
              class="w-full h-fit py-0.5 bg-[#045174] bg-opacity-80 text-white hover:bg-[#0c4c6a] rounded-sm text-center text-xs font-manrope max-sm:hidden"
            >
              {{ item.title }}
            </div>
            
            <!-- <a
              (click)="activityBool()"
              class="max-sm:hidden flex-wrap flex py-1 px-2 lg:space-x-1.5 max-lg:space-y-1 border hover:bg-gray-200"
            >
              <div
                class="w-full lg:w-5/12 h-fit bg-[#045174] bg-opacity-60 text-white hover:bg-[#0c4c6a] rounded-sm text-center"
              >
                {{ item.time_start.slice(0, -3) }}
              </div>
              <span>-</span>
              <div
                class="w-full lg:w-5/12 h-fit bg-[#045174] bg-opacity-60 text-white hover:bg-[#0c4c6a] rounded-sm text-center"
              >
                {{ item.time_end.slice(0, -3) }}
              </div>
            </a> -->
            <div
              class="flex-wrap flex justify-center py-1 pl-1 space-y-1 sm:hidden"
            >
              <span
                class="bg-[#045174] bg-opacity-80 text-white text-xs text-center font-medium mr-1 rounded-sm w-full h-4"
                >{{ item.time_start.slice(0, -6) }}</span
              >
            </div>
          </div>
          <div
            *ngFor="let item of filterEventHo(item.year, item.month, item.date)"
            class="pb-0.5"
          >
            <div
              class="w-full h-fit py-0.5 bg-amber-600 bg-opacity-80 text-white hover:bg-amber-700 rounded-sm text-center text-xs font-manrope max-sm:hidden"
            >
              {{ item.subject }}
            </div>
            <!-- <div
              class="flex-wrap flex justify-center py-1 pl-1 space-y-1 sm:hidden"
            >
              <span
                class="bg-[#045174] bg-opacity-80 text-white text-xs text-center font-medium mr-1 rounded-sm w-full h-4"
                >{{ item.time_start.slice(0, -6) }}</span
              >
            </div> -->
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
