<div
  #nav
  id="nav"
  class="flex fixed z-10 right-0 transition-all"
  [ngClass]="
    router.url == '/login'
      ? 'hidden'
      : hide
      ? !onAuthCheck()
        ? 'translate-x-[225px] top-3'
        : 'translate-x-[160px] top-7'
      : !onAuthCheck()
      ? 'top-3'
      : 'top-7'
  "
>
  <div
    [ngClass]="router.url == '/login' ? 'hidden' : hide"
    class="h-fit bg-white shadow-lg rounded-lg transition-transform ease-in-out flex justify-center my-auto"
  >
    <a class="py-1 cursor-pointer text-base" (click)="changeHide()">
      <svg
        [ngClass]="hide ? 'rotate-90' : '-rotate-90'"
        class="transition-transform ease-in-out duration-300"
        xmlns="http://www.w3.org/2000/svg"
        height="20"
        viewBox="0 -960 960 960"
        width="20"
        fill="currentColor"
      >
        <path d="M480-345 240-585l43-43 197 198 197-197 43 43-240 239Z" />
      </svg>
    </a>
  </div>
  <div
    *ngIf="!router.url.includes('login')"
    class="px-3 py-2 bg-[#034466] bg-opacity-70 backdrop-blur-sm shadow-lg rounded-l-2xl font-manrope"
  >
    <div *ngIf="!onAuthCheck()" class="px-3 pb-3">
      <h1
        class="px-2 py-0.5 rounded bg-white border text-center text-sm font-medium text-slate-700"
      >
        Halo, <span class="font-semibold">{{ userData?.lg_name }}</span> !
      </h1>
    </div>
    <div class="flex justify-center px-4 space-x-3">
      <a
        href="http://192.168.9.47/mris-kjy/schedule"
        class="relative h-fit inline-flex justify-center items-center w-[3.375rem] py-1.5 text-sm font-semibold rounded-lg border border-gray-300 bg-white text-[#494CA2] hover:bg-[#8186D5] hover:text-white transition-colors ease-in-out shadow-sm disabled:opacity-50 disabled:pointer-events-none"
      >
        <h1 class="h-5 font-semibold">MRIS</h1>
      </a>
      <div *ngIf="!onAuthCheck()" class="relative space-y-3">
        <button
          (click)="changeNotifBool()"
          type="button"
          tooltip="Notification"
          placement="bottom"
          [condition]="!notifBool"
          color="text-black"
          class="relative h-fit inline-flex justify-center items-center mr-1 w-[3.375rem] py-1.5 text-sm font-semibold rounded-lg border border-gray-300 bg-white text-gray-800 shadow-sm hover:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none"
        >
          <svg
            class="flex-shrink-0 w-5 h-5"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path d="M6 8a6 6 0 0 1 12 0c0 7 3 9 3 9H3s3-2 3-9" />
            <path d="M10.3 21a1.94 1.94 0 0 0 3.4 0" />
          </svg>
          <span
            *ngIf="voteNotif.length > 0"
            class="absolute top-0 end-0 inline-flex items-center py-0.5 px-1.5 rounded-full text-xs font-medium transform -translate-y-1/2 translate-x-1/2 bg-red-500 text-white"
            >{{ voteNotif.length + voteSelf.length }}</span
          >
        </button>
        <div
          [ngClass]="notifBool ? voteNotif.length < 1 || voteSelf.length < 1? 'min-w-[15rem]' : 'min-w-[30rem]' : 'hidden'"
          class="absolute -right-1/2 duration  bg-white shadow-xl rounded-lg p-2 mt-2 after:h-4 after:absolute after:-bottom-4 after:start-0 after:w-full before:h-4 before:absolute before:-top-4 before:start-0 before:w-full"
        >
          <div class="px-1 py-1">
            <h1 class="text-sm font-medium">Notifications</h1>
            <hr class="w-1/3">
          </div>
          <div
            class="space-y-1"
          >
            <a *ngIf="voteNotif.length < 1 && voteSelf.length < 1" class="w-full text-slate-500">
              <h1 class="text-center text-xs font-medium py-2.5">
                No Notifications
              </h1>
            </a>
            <div class="flex flex-row gap-x-1.5">
              <div *ngIf="voteNotif.length > 0" [ngClass]="voteNotif.length < 4 ? 'h-fit' : 'h-[50vh] '" class="grow flex flex-col gap-1 overflow-y-auto">
                <h1 class="text-sm px-2">Submit</h1>
                <a
                  *ngFor="let item of voteNotif"
                  (click)="openSubmitVote(item)"
                  class="flex flex-row justify-start cursor-pointer text-start gap-x-3.5 py-2 px-3 bg-lime-100 rounded-lg text-sm text-gray-800 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-gray-300 dark:focus:bg-gray-700"
                >
                  <div class="flex flex-col items-center">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      height="18"
                      viewBox="0 -960 960 960"
                      width="18"
                    >
                      <path
                        d="M200-80q-33 0-56.5-23.5T120-160v-182l110-125 57 57-80 90h546l-78-88 57-57 108 123v182q0 33-23.5 56.5T760-80H200Zm0-80h560v-80H200v80Zm225-225L284-526q-23-23-22.5-56.5T285-639l196-196q23-23 57-24t57 22l141 141q23 23 24 56t-22 56L538-384q-23 23-56.5 22.5T425-385Zm255-254L539-780 341-582l141 141 198-198ZM200-160v-80 80Z"
                      />
                    </svg>
                    <span class="text-xs text-gray-500">Vote</span>
                  </div>
                  <div class="">
                    <h1 class="font-semibold">
                      <span class="font-semibold text-sm text-black"
                        >Open and Choose!</span
                      >
                    </h1>
                    <hr class="py-0.5" />
                    <h1 class="text-xs">Title - {{ item.vote.title }}</h1>
                    <h1 class="text-xs">Creator - {{ item.vote.userId }}</h1>
                  </div>
                </a>
              </div>
              <div *ngIf="voteSelf.length > 0" [ngClass]="voteNotif.length < 4 ? 'h-fit' : 'h-[50vh] '" class="grow flex flex-col gap-1 overflow-y-auto">
                <h1 class="text-sm px-2">View</h1>
                <a
                  *ngFor="let item of voteSelf"
                  (click)="openViewVote(item)"
                  class="flex flex-row justify-start cursor-pointer text-start gap-x-3.5 py-2 px-3 bg-cyan-100 rounded-lg text-sm text-gray-800 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-gray-300 dark:focus:bg-gray-700"
                >
                  <div class="flex flex-col items-center">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      height="18"
                      viewBox="0 -960 960 960"
                      width="18"
                    >
                      <path
                        d="M200-80q-33 0-56.5-23.5T120-160v-182l110-125 57 57-80 90h546l-78-88 57-57 108 123v182q0 33-23.5 56.5T760-80H200Zm0-80h560v-80H200v80Zm225-225L284-526q-23-23-22.5-56.5T285-639l196-196q23-23 57-24t57 22l141 141q23 23 24 56t-22 56L538-384q-23 23-56.5 22.5T425-385Zm255-254L539-780 341-582l141 141 198-198ZM200-160v-80 80Z"
                      />
                    </svg>
                    <span class="text-xs text-gray-500">Vote</span>
                  </div>
                  <div class="">
                    <h1 class="font-semibold">
                      <span class="font-semibold text-sm text-black"
                        >Watch your own vote!</span
                      >
                    </h1>
                    <hr class="py-0.5" />
                    <h1 class="text-xs">Title - {{ item.title }}</h1>
                    <h1 class="text-xs">Creator - {{ item.userId }}</h1>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Sign In -->
      <button
        *ngIf="onAuthCheck()"
        tooltip="Login"
        placement="bottom"
        type="button"
        [routerLink]="['/login']"
        color="text-black"
        class="relative h-fit inline-flex justify-center items-center w-[3.375rem] py-1.5 text-sm font-semibold rounded-lg border border-gray-300 bg-white text-gray-800 shadow-sm hover:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="20"
          viewBox="0 0 24 24"
          fill="none"
          stroke="#000000"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path d="M10 17l5-5-5-5" />
          <path d="M13.8 12H3m9 10a10 10 0 1 0 0-20" />
        </svg>
      </button>

      <!-- Sign Out -->
      <button
        *ngIf="!onAuthCheck()"
        type="button"
        (click)="signOut()"
        tooltip="Logout"
        placement="bottom"
        color="text-black"
        class="relative h-fit inline-flex justify-center items-center w-[3.375rem] py-1.5 text-sm font-semibold rounded-lg border border-gray-300 bg-white text-rose-600 shadow-sm hover:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="20"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path d="M16 17l5-5-5-5M19.8 12H9M13 22a10 10 0 1 1 0-20" />
        </svg>
      </button>
    </div>
  </div>
</div>
