<div
  *ngIf="!router.url.includes('login')"
  class="fixed z-10 top-6 right-0 px-3 py-2 bg-white shadow-lg rounded-l-2xl font-manrope"
>
  <div class="flex px-4 space-x-3">
    <a
      href="http://192.168.9.47/mris-kjy/schedule"
      class="relative h-fit inline-flex justify-center items-center w-[3.375rem] py-1.5 text-sm font-semibold rounded-lg border border-gray-300 bg-white text-[#494CA2] hover:bg-[#8186D5] hover:text-white transition-colors ease-in-out shadow-sm disabled:opacity-50 disabled:pointer-events-none"
    >
      <h1 class="h-5 font-semibold">MRIS</h1>
    </a>
    <div *ngIf="!onAuthCheck()" class="relative space-y-3">
      <button
        (click)="changeNotifBool()"
        type="button"
        tooltip="Notification"
        placement="bottom"
        color="text-black"
        class="relative h-fit inline-flex justify-center items-center mr-2 w-[3.375rem] py-1.5 text-sm font-semibold rounded-lg border border-gray-300 bg-white text-gray-800 shadow-sm hover:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none"
      >
        <svg
          class="flex-shrink-0 w-5 h-5"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path d="M6 8a6 6 0 0 1 12 0c0 7 3 9 3 9H3s3-2 3-9" />
          <path d="M10.3 21a1.94 1.94 0 0 0 3.4 0" />
        </svg>
        <span
          class="absolute top-0 end-0 inline-flex items-center py-0.5 px-1.5 rounded-full text-xs font-medium transform -translate-y-1/2 translate-x-1/2 bg-red-500 text-white"
          >2</span
        >
      </button>
      <div
        [ngClass]="notifBool ? '' : 'hidden'"
        class="absolute -right-1/2 duration min-w-[15rem] space-y-1 bg-white shadow-md rounded-lg p-2 mt-2 dark:bg-gray-800 dark:border dark:border-gray-700 dark:divide-gray-700 after:h-4 after:absolute after:-bottom-4 after:start-0 after:w-full before:h-4 before:absolute before:-top-4 before:start-0 before:w-full"
      >
        <a
        
          *ngFor="let item of voteNotif"
          (click)="openSubmitVote(item)"
          class="flex flex-row justify-start cursor-pointer text-start gap-x-3.5 py-2 px-3 bg-lime-100 rounded-lg text-sm text-gray-800 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-gray-300 dark:focus:bg-gray-700"
        >
          <div class="flex flex-col items-center">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="18"
              viewBox="0 -960 960 960"
              width="18"
            >
              <path
                d="M200-80q-33 0-56.5-23.5T120-160v-182l110-125 57 57-80 90h546l-78-88 57-57 108 123v182q0 33-23.5 56.5T760-80H200Zm0-80h560v-80H200v80Zm225-225L284-526q-23-23-22.5-56.5T285-639l196-196q23-23 57-24t57 22l141 141q23 23 24 56t-22 56L538-384q-23 23-56.5 22.5T425-385Zm255-254L539-780 341-582l141 141 198-198ZM200-160v-80 80Z"
              />
            </svg>
            <span class="text-xs text-gray-500">Vote</span>
          </div>
          <div class="">
            <h1 class="font-semibold">
              <span class="font-semibold text-sm text-black"
                >Open and Choose!</span
              >
            </h1>
            <hr class="py-0.5" />
            <h1 class="text-xs">Title - {{ item.vote.title }}</h1>
            <h1 class="text-xs">Creator - {{ item.vote.userId }}</h1>
          </div>
        </a>
        <!-- <a
          class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-gray-800 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-gray-300 dark:focus:bg-gray-700"
          href="#"
        >
          Purchases
        </a>
        <a
          class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-gray-800 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-gray-300 dark:focus:bg-gray-700"
          href="#"
        >
          Downloads
        </a>
        <a
          class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-gray-800 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-gray-300 dark:focus:bg-gray-700"
          href="#"
        >
          Team Account
        </a> -->
      </div>
    </div>
    <button
      *ngIf="onAuthCheck()"
      tooltip="Login"
      placement="bottom"
      type="button"
      [routerLink]="['/login']"
      color="text-black"
      class="relative h-fit inline-flex justify-center items-center w-[3.375rem] py-1.5 text-sm font-semibold rounded-lg border border-gray-300 bg-white text-gray-800 shadow-sm hover:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="20"
        height="20"
        viewBox="0 0 24 24"
        fill="none"
        stroke="#000000"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path d="M10 17l5-5-5-5" />
        <path d="M13.8 12H3m9 10a10 10 0 1 0 0-20" />
      </svg>
    </button>
    <button
      *ngIf="!onAuthCheck()"
      type="button"
      (click)="signOut()"
      tooltip="Logout"
      placement="bottom"
      color="text-black"
      class="relative h-fit inline-flex justify-center items-center w-[3.375rem] py-1.5 text-sm font-semibold rounded-lg border border-gray-300 bg-white text-gray-800 shadow-sm hover:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="20"
        height="20"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path d="M16 17l5-5-5-5M19.8 12H9M13 22a10 10 0 1 1 0-20" />
      </svg>
    </button>
  </div>
</div>
