<a
  [routerLink]="['/']"
  routerLinkActive="router-link-active"
  class="bg-white hover:bg-gray-700 hover:fill-white transition-colors w-10 h-10 justify-center grid content-center absolute left-3 top-3 rounded max-md:hidden"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    height="30"
    viewBox="0 96 960 960"
    width="30"
  >
    <path
      d="M240 816V336h60v480h-60Zm447-3L453 579l234-234 43 43-191 191 191 191-43 43Z"
    />
  </svg>
</a>
<div
  class="my-3 min-[560px]:mx-3 max-[560px]:mx-3 p-3 shadow-xl bg-white rounded-sm flex justify-between md:hidden"
>
  <a
    [routerLink]="['/']"
    routerLinkActive="router-link-active"
    class="z-10 bg-white hover:bg-gray-700 hover:fill-white transition-colors w-10 h-10 justify-center grid content-center left-3 top-3 rounded"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      height="30"
      viewBox="0 96 960 960"
      width="30"
    >
      <path
        d="M240 816V336h60v480h-60Zm447-3L453 579l234-234 43 43-191 191 191 191-43 43Z"
      />
    </svg>
  </a>
  <a
    *ngIf="!onAuthCheck()"
    (click)="callCreateService()"
    class="inline-flex cursor-pointer items-center justify-center h-10 px-2 text-sm font-medium tracking-wide text-white transition duration-200 bg-[#001F3D] font-manrope rounded-md hover:bg-gray-800 focus:shadow-outline focus:outline-none"
  >
    Add Activity
  </a>
  <a
    *ngIf="onAuthCheck()"
    [routerLink]="['/login']"
    routerLinkActive="router-link-active"
    class="relative cursor-pointer inline-flex items-center justify-start px-2 py-1 overflow-hidden font-medium transition-all bg-[#D89C60] rounded-md hover:bg-white group item"
  >
    <span
      class="absolute inset-0 border-0 group-hover:border-[25px] ease-linear duration-100 transition-all border-white rounded-md"
    ></span>
    <span
      class="relative w-full align-middle text-sm text-left text-white transition-colors duration-200 ease-in-out group-hover:text-[#D89C60]"
      >Login</span
    >
  </a>
  <a
    *ngIf="!onAuthCheck()"
    (click)="signOut()"
    class="relative cursor-pointer inline-flex items-center justify-start px-2 py-1 overflow-hidden font-medium transition-all bg-[#ff3526] rounded-md hover:bg-white group item"
  >
    <span
      class="absolute inset-0 border-0 group-hover:border-[25px] ease-linear duration-100 transition-all border-white rounded-md"
    ></span>
    <span
      class="relative w-full align-middle text-sm text-left text-white transition-colors duration-200 ease-in-out group-hover:text-[#ff3526]"
      >Sign Out</span
    >
  </a>
</div>

<div
  class="w-full justify-center max-sm:justify-center max-md:justify-center flex flex-wrap"
>
  <!------------------------------------------------------------------- Section 1 ------------------------------------------------------------------------------->
  <div class="w-1/4 max-[560px]:w-full max-md:w-4/5 transition-[width]">
    <div class="m-3 p-5 shadow-xl md:h-[96vh] bg-white rounded-sm">
      <!-- <div inline-datepicker data-date="02/25/2022" [(ngModel)]="test"></div> -->

      <div class="p-2 border">
        <div class="flex justify-around pb-2 items-center">
          <button
            (click)="toPrevMonth()"
            title="left arrow"
            class="p-2 text-gray-800 transition-colors duration-300 border rounded-full rtl:-scale-x-100 hover:bg-gray-100"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="w-4 h-4"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              stroke-width="2"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M15 19l-7-7 7-7"
              />
            </svg>
          </button>
          <h1
            class="font-manrope text-xl font-medium max-md:text-md text-center"
          >
            {{ dateParams.toLocaleString("default", { month: "long" }) }}
            {{ dateParams.getFullYear() }}
          </h1>

          <button
            (click)="toNextMonth()"
            title="right arrow"
            class="p-2 text-gray-800 transition-colors duration-300 border rounded-full rtl:-scale-x-100 hover:bg-gray-100"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="w-4 h-4"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              stroke-width="2"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M9 5l7 7-7 7"
              />
            </svg>
          </button>
        </div>
        <div
          class="flex flex-wrap text-[#D89C60] font-medium rounded-sm rounded-b-none font-manrope max-lg:hidden"
        >
          <div class="w-[14.2%] py-2 text-center text-sm grow">Mon</div>
          <div class="w-[14.2%] py-2 text-center text-sm grow">Tue</div>
          <div class="w-[14.2%] py-2 text-center text-sm grow">Wed</div>
          <div class="w-[14.2%] py-2 text-center text-sm grow">Thu</div>
          <div class="w-[14.2%] py-2 text-center text-sm grow">Fri</div>
          <div class="w-[14.2%] py-2 text-center text-sm grow">Sat</div>
          <div class="w-[14.2%] py-2 text-center text-sm grow">Sun</div>
        </div>
        <div
          class="flex flex-wrap text-[#D89C60] font-medium rounded-sm rounded-b-none font-manrope lg:hidden"
        >
          <div class="w-[14.2%] py-2 text-center text-sm max-md:text-xs grow">
            M
          </div>
          <div class="w-[14.2%] py-2 text-center text-sm max-md:text-xs grow">
            T
          </div>
          <div class="w-[14.2%] py-2 text-center text-sm max-md:text-xs grow">
            W
          </div>
          <div class="w-[14.2%] py-2 text-center text-sm max-md:text-xs grow">
            T
          </div>
          <div class="w-[14.2%] py-2 text-center text-sm max-md:text-xs grow">
            F
          </div>
          <div class="w-[14.2%] py-2 text-center text-sm max-md:text-xs grow">
            S
          </div>
          <div class="w-[14.2%] py-2 text-center text-sm max-md:text-xs grow">
            S
          </div>
        </div>
        <div class="flex flex-wrap mt-0.5">
          <div
            class="w-[14.2%] grow flex justify-start text-center cursor-pointer"
            *ngFor="let item of arrayDateinMonth; index as i"
            [ngClass]="
              item.date == currentDate.getDate() &&
              item.month == currentDate.getMonth() &&
              item.year == currentDate.getFullYear()
                ? 'border-1 border-green-600'
                : ''
            "
          >
            <a
              (click)="changeDatePicker(item.full)"
              class="w-full h-full flex justify-center rounded-full hover:bg-gray-200 p-1"
              [ngClass]="
                item.date == dateParams.getDate() &&
                item.month == dateParams.getMonth() &&
                item.year == dateParams.getFullYear()
                  ? 'bg-gray-300'
                  : ''
              "
              ><span
                class="w-5 text-md max-lg:text-sm font-semibold font-manrope"
                [ngClass]="
                  item.month != dateParams.getMonth()
                    ? 'text-gray-400'
                    : item.date == currentDate.getDate() &&
                      item.month == currentDate.getMonth() &&
                      item.year == currentDate.getFullYear()
                    ? 'text-blue-600'
                    : item.day == 0 || item.day == 6
                    ? 'text-red-500'
                    : ''
                "
              >
                {{ item.date }}
              </span>
            </a>
          </div>
        </div>
      </div>
      <div *ngIf="filterEvents(this.dateParams).length != 0" class="mt-5">
        <div class="py-3">
          <h1
            class="underline underline-offset-4 decoration-[#04517481] font-medium"
          >
            Meetings
          </h1>
        </div>
        <div class="overflow-auto md:h-[45vh]">
          <div *ngFor="let item of filterEvents(this.dateParams)" class="py-1">
            <div
              class="flex justify-center ml-2 md:hidden shadow-sm shadow-[#04517481]"
            >
              <div
                (click)="activityBool(item)"
                class="grow flex justify-between cursor-pointer space-y-0.5 py-2 px-2 bg-opacity-60 rounded-l-sm"
              >
                <h3
                  class="font-manrope text-md max-[560px]:text-sm font-semibold text-[#E87A00]"
                >
                  {{ item.title }}
                  <span class="text-xs text-[#D89C60] px-1">
                    {{ item.time_start.slice(0, -3) }} -
                    {{ item.time_end.slice(0, -3) }}</span
                  >
                </h3>
              </div>
              <a
                *ngIf="authService.getToken() != null"
                (click)="callEditService(item)"
                class="cursor-pointer bg-yellow-400 hover:bg-yellow-300 shadow-sm grid content-center px-2 transition-colors"
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  height="18"
                  viewBox="0 96 960 960"
                  width="18"
                  class="fill-white"
                >
                  <path
                    d="M180 876h44l443-443-44-44-443 443v44Zm614-486L666 262l42-42q17-17 42-17t42 17l44 44q17 17 17 42t-17 42l-42 42Zm-42 42L248 936H120V808l504-504 128 128Zm-107-21-22-22 44 44-22-22Z"
                  />
                </svg>
              </a>
              <a
                *ngIf="!onAuthCheck()"
                (click)="callDeleteAlert(item.id)"
                class="cursor-pointer bg-red-500 hover:bg-red-400 shadow-sm grid content-center px-2 rounded-r-sm transition-colors"
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  height="18"
                  viewBox="0 96 960 960"
                  width="18"
                  fill="white"
                >
                  <path
                    d="M261 936q-24.75 0-42.375-17.625T201 876V306h-41v-60h188v-30h264v30h188v60h-41v570q0 24-18 42t-42 18H261Zm438-630H261v570h438V306ZM367 790h60V391h-60v399Zm166 0h60V391h-60v399ZM261 306v570-570Z"
                  />
                </svg>
              </a>
            </div>
            <div
              class="mx-2 border rounded-sm border-[#04517481] shadow-md flex max-md:hidden"
            >
              <div
                class="grow space-y-0.5 py-2 px-4 bg-opacity-60 rounded-l-sm"
              >
                <div class="flex justify-between">
                  <h3 class="font-manrope text-md font-semibold">
                    {{ item.title }}
                  </h3>
                </div>

                <div class="flex justify-between">
                  <h3 class="font-manrope text-xs font-medium text-gray-600">
                    {{ item.time_start.slice(0, -3) }} WIB -
                    {{ item.time_end.slice(0, -3) }} WIB
                  </h3>
                </div>

                <h3
                  class="font-manrope text-sm"
                  *ngIf="item.online_offline == 'Online'"
                >
                  <a
                    class="text-indigo-700"
                    href="https://www.{{ item.url_online }}"
                    target="_blank"
                  >
                    {{ item.url_online }}</a
                  >
                </h3>
                <h3
                  class="font-manrope text-sm"
                  *ngIf="item.online_offline == 'Offline'"
                >
                  <span class="text-gray-500">Room :</span>

                  <span class="text-black" target="_blank">
                    {{ filterRoomById(item.roomId)[0].room_name }}</span
                  >
                </h3>
                <!-- <h3 class="font-manrope text-sm">End : </h3> -->
              </div>
              <div class="w-1/6 max-h-full">
                <a
                  *ngIf="authService.getToken() != null"
                  (click)="callEditService(item)"
                  class="cursor-pointer bg-yellow-400 hover:bg-yellow-300 flex items-center justify-center px-1 rounded-r-sm h-1/2 w-full transition-colors"
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    height="24"
                    width="24"
                    class="fill-white"
                  >
                    <path
                      d="M5 19h1.4l8.625-8.625-1.4-1.4L5 17.6ZM19.3 8.925l-4.25-4.2 1.4-1.4q.575-.575 1.413-.575.837 0 1.412.575l1.4 1.4q.575.575.6 1.388.025.812-.55 1.387ZM17.85 10.4 7.25 21H3v-4.25l10.6-10.6Zm-3.525-.725-.7-.7 1.4 1.4Z"
                    />
                  </svg>
                </a>
                <a
                  *ngIf="authService.getToken() == null"
                  (click)="activityBool(item)"
                  class="cursor-pointer bg-yellow-400 hover:bg-yellow-300 flex items-center justify-center px-1 rounded-r-sm h-1/2 w-full transition-colors"
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    height="20"
                    viewBox="0 96 960 960"
                    width="20"
                    fill="white"
                  >
                    <path
                      d="M480.118 726Q551 726 600.5 676.382q49.5-49.617 49.5-120.5Q650 485 600.382 435.5q-49.617-49.5-120.5-49.5Q409 386 359.5 435.618q-49.5 49.617-49.5 120.5Q310 627 359.618 676.5q49.617 49.5 120.5 49.5Zm-.353-58Q433 668 400.5 635.265q-32.5-32.736-32.5-79.5Q368 509 400.735 476.5q32.736-32.5 79.5-32.5Q527 444 559.5 476.735q32.5 32.736 32.5 79.5Q592 603 559.265 635.5q-32.736 32.5-79.5 32.5ZM480 856q-146 0-264-83T40 556q58-134 176-217t264-83q146 0 264 83t176 217q-58 134-176 217t-264 83Zm0-300Zm-.169 240Q601 796 702.5 730.5 804 665 857 556q-53-109-154.331-174.5-101.332-65.5-222.5-65.5Q359 316 257.5 381.5 156 447 102 556q54 109 155.331 174.5 101.332 65.5 222.5 65.5Z"
                    />
                  </svg>
                </a>
                <a
                  *ngIf="!onAuthCheck()"
                  (click)="callDeleteAlert(item.id)"
                  class="cursor-pointer bg-red-500 hover:bg-red-400 flex items-center justify-center px-1  h-1/2 w-full transition-colors"
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    height="18"
                    viewBox="0 96 960 960"
                    width="18"
                    fill="white"
                  >
                    <path
                      d="M261 936q-24.75 0-42.375-17.625T201 876V306h-41v-60h188v-30h264v30h188v60h-41v570q0 24-18 42t-42 18H261Zm438-630H261v570h438V306ZM367 790h60V391h-60v399Zm166 0h60V391h-60v399ZM261 306v570-570Z"
                    />
                  </svg>
                </a>
              </div>
            </div>

            <div></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="w-4/6 max-[560px]:w-full max-md:w-4/5 flex flex-wrap">
    <!------------------------------------------------------------------- Section 2 ------------------------------------------------------------------------------->
    <div class="w-1/2 max-[560px]:w-full" *ngIf="showActivity">
      <div
        class="my-3 min-[560px]:mr-3 max-[560px]:mx-3 p-5 shadow-xl h-[96vh] bg-white rounded-sm"
      >
        <div class="w-full flex justify-between items-center pb-5 pt-1">
          <h1 class="text-2xl sm:text-lg font-medium font-manrope">
            Activity Details
          </h1>
          <a
            class="cursor-pointer hover:bg-gray-700 rounded-sm transition-colors"
            (click)="leaveActivity()"
            ><svg
              class="fill-gray-700 hover:fill-white"
              xmlns="http://www.w3.org/2000/svg"
              height="35"
              viewBox="0 96 960 960"
              width="35"
            >
              <path
                d="m249 849-42-42 231-231-231-231 42-42 231 231 231-231 42 42-231 231 231 231-42 42-231-231-231 231Z"
              />
            </svg>
          </a>
        </div>
        <div class="px-3 space-y-3">
          <div class="flex justify-between items-center flex-wrap">
            <div class="w-1/3 justify-between flex items-center">
              <label
                for="inline-input-label-with-helper-text"
                class="block text-sm font-manrope text-gray-600"
                >Date</label
              >
              <!-- <h1 class="text-xl font-semibold">:</h1> -->
            </div>

            <div class="grow px-4">
              <h2 class="font-manrope font-medium max-lg:text-sm">
                {{ detailActivity.date | date : "longDate" }}
              </h2>
            </div>
          </div>
          <div class="flex justify-between items-center flex-wrap">
            <div class="w-1/3 justify-between flex items-center">
              <label
                for="inline-input-label-with-helper-text"
                class="block text-sm font-manrope text-gray-600"
                >Time</label
              >
              <!-- <h1 class="text-xl font-semibold">:</h1> -->
            </div>
            <div class="grow px-4">
              <h2 class="font-manrope font-medium max-lg:text-sm">
                {{ detailActivity.time_start.slice(0, -3) }} WIB -
                <br class="max-sm:hidden lg:hidden" />
                {{ detailActivity.time_end.slice(0, -3) }} WIB
              </h2>
            </div>

            <div class="px-2 space-x-2 w-2/3 flex">
              <div></div>
              <div></div>
            </div>
          </div>
          <div class="flex justify-between items-center flex-wrap">
            <div class="w-1/3 justify-between flex items-center">
              <label
                for="inline-input-label-with-helper-text"
                class="block text-sm font-manrope text-gray-600"
                >Organizer Name</label
              >
              <!-- <h1 class="text-xl font-semibold">:</h1> -->
            </div>
            <div class="grow px-4">
              <h2 class="font-manrope font-medium max-lg:text-sm">
                {{ detailActivity.organizer }}
              </h2>
            </div>
          </div>
          <div class="flex justify-between items-center flex-wrap">
            <div class="w-1/3 justify-between flex items-center">
              <label
                for="inline-input-label-with-helper-text"
                class="block text-sm font-manrope text-gray-600"
                >Meeting Name</label
              >
              <!-- <h1 class="text-xl font-semibold">:</h1> -->
            </div>
            <div class="grow px-4">
              <h2 class="font-manrope font-medium max-lg:text-sm">
                {{ detailActivity.title }}
              </h2>
            </div>
          </div>
          <div class="flex justify-between items-center flex-wrap">
            <div class="w-1/3 justify-between flex items-center">
              <label
                for="inline-input-label-with-helper-text"
                class="block text-sm font-manrope text-gray-600"
                >Online /Offline</label
              >
              <!-- <h1 class="text-xl font-semibold">:</h1> -->
            </div>
            <div class="grow px-4">
              <div class="font-manrope font-medium max-lg:text-sm">
                {{ detailActivity.online_offline }}
              </div>
            </div>
          </div>
          <div class="flex justify-between items-center flex-wrap">
            <div class="w-1/3 justify-between flex items-center">
              <label
                for="inline-input-label-with-helper-text"
                class="block text-sm font-manrope text-gray-600"
                >Link Online</label
              >
              <!-- <h1 class="text-xl font-semibold">:</h1> -->
            </div>
            <div class="grow px-4">
              <a
                class="text-indigo-700"
                href="https://www.{{ detailActivity.url_online }}"
                target="_blank"
              >
                {{ detailActivity.url_online }}</a
              >
            </div>
          </div>
          <div class="flex justify-between items-center flex-wrap">
            <div class="w-1/3 justify-between flex items-center">
              <label
                for="inline-input-label-with-helper-text"
                class="block text-sm font-manrope text-gray-600"
                >Room Offline</label
              >
              <!-- <h1 class="text-xl font-semibold">:</h1> -->
            </div>
            <div class="grow px-4">
              <h2 class="font-manrope font-medium max-lg:text-sm">
                {{ filterRoomById(detailActivity.roomId)[0].room_name }}
              </h2>
            </div>
          </div>
          <div class="flex justify-between items-center flex-wrap">
            <div class="w-1/3 justify-between flex items-center">
              <label
                for="inline-input-label-with-helper-text"
                class="block text-sm font-manrope text-gray-600"
                >Participants</label
              >
              <!-- <h1 class="text-xl font-semibold">:</h1> -->
            </div>
            <div class="grow px-4 space-y-1">
              <h1
                class="font-manrope text-sm font-medium max-lg:text-sm bg-blue-100 p-1 rounded-md w-fit"
                *ngFor="let item of this.filterParticipants(detailActivity.id)"
              >
                {{ item.email }}
              </h1>
            </div>
          </div>
          <div class="flex justify-between flex-wrap">
            <div class="w-1/3 justify-between flex items-center">
              <label
                for="inline-input-label-with-helper-text"
                class="block text-sm font-manrope text-gray-600"
                >Message</label
              >
              <!-- <h1 class="text-xl font-semibold">:</h1> -->
            </div>
            <textarea
              name=""
              id=""
              rows="5"
              [value]="detailActivity.message"
              disabled
              class="mx-2 py-3 px-3 grow border border-gray-200 rounded-md text-sm focus:border-blue-500 ring:border-blue-500 outline-none"
            ></textarea>
          </div>
        </div>
      </div>
    </div>

    <!------------------------------------------------------------------- Section 3 ------------------------------------------------------------------------------->
    <div
      class="transition-[width] max-[560px]:w-full"
      [ngClass]="!showActivity ? 'w-full' : 'w-1/2 '"
    >
      <div
        class="my-3 mr-3 p-3 shadow-xl bg-white rounded-sm flex max-md:hidden"
        [ngClass]="!onAuthCheck() ? 'justify-between' : 'justify-end'"
      >
        <a
          *ngIf="!onAuthCheck()"
          (click)="callCreateService()"
          class="inline-flex cursor-pointer items-center justify-center h-10 px-3 font-medium tracking-wide text-white transition duration-200 bg-[#001F3D] font-manrope rounded-md hover:bg-gray-800 focus:shadow-outline focus:outline-none"
        >
          Add Activity
        </a>
        <a
          *ngIf="onAuthCheck()"
          [routerLink]="['/login']"
          routerLinkActive="router-link-active"
          class="relative cursor-pointer inline-flex items-center justify-start px-5 py-1.5 overflow-hidden font-medium transition-all bg-[#D89C60] rounded-md hover:bg-white group"
        >
          <span
            class="absolute inset-0 border-0 group-hover:border-[25px] ease-linear duration-100 transition-all border-white rounded-md"
          ></span>
          <span
            class="relative w-full text-left text-white transition-colors duration-200 ease-in-out group-hover:text-[#D89C60]"
            >Login</span
          >
        </a>
        <a
          *ngIf="!onAuthCheck()"
          (click)="signOut()"
          class="relative cursor-pointer inline-flex items-center justify-start px-5 py-1.5 overflow-hidden font-medium transition-all bg-[#ff3526] rounded-md hover:bg-white group"
        >
          <span
            class="absolute inset-0 border-0 group-hover:border-[25px] ease-linear duration-100 transition-all border-white rounded-md"
          ></span>
          <span
            class="relative w-full text-left text-white transition-colors duration-200 ease-in-out group-hover:text-[#ff3526]"
            >Sign Out</span
          >
        </a>
      </div>
      <div
        class="my-3 min-[560px]:mr-3 max-[560px]:mx-3 p-5 shadow-xl bg-white rounded-sm backdrop-opacity-40"
      >
        <div class="text-start flex justify-between mx-5 my-3">
          <div class="max-md:flex max-md:space-x-2">
            <h1 class="text-2xl max-md:text-lg font-semibold">
              {{ dateParams | date : "EEEE" }}
            </h1>
            <h1 class="text-2xl max-md:text-lg">
              {{ dateParams | date : " dd" }}
            </h1>
          </div>

          <div
            class="flex h-1/2 justify-between space-x-1 md:space-x-3 items-center"
          >
            <!-- <button
              class="middle none center mr-3 rounded-lg border border-pink-500 py-2 px-3 font-manrope text-xs font-bold uppercase text-pink-500 transition-all hover:opacity-75 focus:ring focus:ring-pink-200 active:opacity-[0.85] disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
              data-ripple-dark="true"
            >
              Add Activity
            </button> -->
            <button
              (click)="toPrevDay()"
              title="left arrow"
              class="p-2 text-gray-800 transition-colors duration-300 border rounded-full rtl:-scale-x-100 hover:bg-gray-200"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="md:w-7 md:h-7 h-4 w-4"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                stroke-width="2"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M15 19l-7-7 7-7"
                />
              </svg>
            </button>

            <button
              (click)="toNextDay()"
              title="right arrow"
              class="p-2 text-gray-800 transition-colors duration-300 border rounded-full rtl:-scale-x-100 hover:bg-gray-200"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="md:w-7 md:h-7 h-4 w-4"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                stroke-width="2"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M9 5l7 7-7 7"
                />
              </svg>
            </button>
          </div>
        </div>
        <div class="p-6">
          <h1 class="w-full text-center font-manrope font-semibold">
            Hours Graph (WIB)
          </h1>
          <div class="w-full flex flex-wrap">
            <div
              class="px-0.5 py-3 text-start w-1/6 max-[400px]:w-1/3"
              *ngFor="let hour of hoursOfDay"
            >
              <div
                class="w-full h-10 border border-[#045174] bg-opacity-80 rounded-sm"
                [ngClass]="
                  this.filterTotalHourExist(hour | date : 'HH').length == 2
                    ? 'flex'
                    : 'grid justify-items-stretch'
                "
              >
                <div
                  class="h-full"
                  [ngClass]="
                    inBetweenTimeChecker(hour | date : 'HH')?.status
                      ? inBetweenTimeChecker(hour | date : 'HH')?.minutes !=
                        null
                        ? inBetweenTimeChecker(hour | date : 'HH')?.minutes >=
                            20 ||
                          inBetweenTimeChecker(hour | date : 'HH')?.minutes <=
                            40
                          ? inBetweenTimeChecker(hour | date : 'HH')
                              ?.minutesType == 'start'
                            ? 'w-1/2 bg-[#045174] bg-opacity-80 justify-self-end'
                            : 'w-1/2 bg-[#045174] bg-opacity-80 justify-self-start'
                          : inBetweenTimeChecker(hour | date : 'HH')?.minutes >
                            40
                          ? inBetweenTimeChecker(hour | date : 'HH')
                              ?.minutesType == 'start'
                            ? 'w-1/4 bg-[#045174] bg-opacity-80 justify-self-end'
                            : 'w-3/4 bg-[#045174] bg-opacity-80 justify-self-start'
                          : inBetweenTimeChecker(hour | date : 'HH')
                              ?.minutesType == 'start'
                          ? 'w-3/4 bg-[#045174] bg-opacity-80 justify-self-end'
                          : 'w-1/4 bg-[#045174] bg-opacity-80 justify-self-start'
                        : inBetweenTimeChecker(hour | date : 'HH')
                            ?.minutesType == 'end' &&
                          inBetweenTimeChecker(hour | date : 'HH')?.minutes ==
                            null
                        ? 'w-0 '
                        : 'w-full bg-[#045174] bg-opacity-80'
                      : ''
                  "
                ></div>
                <div
                  *ngIf="
                    this.filterTotalHourExist(hour | date : 'HH').length == 2
                  "
                  class="w-1/2 bg-[#045174] bg-opacity-80"
                ></div>
              </div>
              <div class="flex">
                <h1
                  class="font-manrope text-sm font-medium text-gray-800 max-md:text-xs w-1/2"
                >
                  <span class="max-md:hidden">{{ hour | date : "HH:mm" }}</span>
                  <span class="md:hidden">{{ hour | date : "HH" }}</span>
                </h1>
                <!-- <h1
                  class="font-manrope text-sm font-medium text-gray-800 max-md:text-xs w-1/2"
                >
                  {{ hour | date : "HH:" }}30
                </h1> -->
              </div>
            </div>
          </div>
          <div class="w-full flex justify-center py-2 space-x-4">
            <div class="flex items-center cursor-pointer">
              <div class="h-4 w-4 bg-[#045174] bg-opacity-80 rounded-sm"></div>
              <h1 class="font-manrope text-sm font-medium px-1">Booked</h1>
            </div>
            <div class="flex items-center cursor-pointer">
              <div
                class="h-4 w-4 border border-[#045174] bg-opacity-80 rounded-sm"
              ></div>
              <h1 class="font-manrope text-sm font-medium px-1">Available</h1>
            </div>
          </div>
        </div>
        <!-- <div class="h-[78.5vh] overflow-auto">
        <table class="w-full text-sm text-left text-gray-800 shadow-inner">
          <thead>
            <tr>
              <th class="w-1/12"></th>
              <th class="grow"></th>
            </tr>
          </thead>
          <tbody>
            <tr class="bg-white border-b" *ngFor="let hour of hoursOfDay">
              <th class="px-6 py-4 border-r">{{ hour }}</th>
              <td class=""></td>
            </tr>
          </tbody>
        </table>
      </div> -->
      </div>
    </div>
  </div>
</div>

<div
  id=""
  [ngClass]="this.deleteAlertBool ? '' : 'hidden'"
  class="w-full h-full fixed top-0 left-0 z-[60] overflow-x-hidden overflow-y-auto bg-gray-600 bg-opacity-50 transition"
>
  <div
    class="duration-500 ease-out transition-all sm:max-w-lg sm:w-full sm:mx-auto min-h-[calc(100%-2rem)] flex items-center justify-center"
  >
    <div class="relative p-4 text-center bg-white rounded-md shadow sm:p-5">
      <button
        type="button"
        (click)="closeDeleteAlert()"
        class="text-gray-400 absolute top-2.5 right-2.5 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center"
      >
        <svg
          aria-hidden="true"
          class="w-5 h-5"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
            clip-rule="evenodd"
          ></path>
        </svg>
        <span class="sr-only">Close modal</span>
      </button>
      <svg
        class="text-gray-400 w-11 h-11 mb-3.5 mx-auto"
        aria-hidden="true"
        fill="currentColor"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z"
          clip-rule="evenodd"
        ></path>
      </svg>
      <p class="mb-4 text-gray-500">
        Are you sure you want to delete this meeting?
      </p>
      <div class="flex justify-center items-center space-x-4">
        <button
          (click)="closeDeleteAlert()"
          data-modal-toggle="deleteModal"
          type="button"
          class="py-2 px-3 text-sm font-medium text-gray-500 bg-white rounded-lg border border-gray-200 hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-primary-300 hover:text-gray-900 focus:z-10 focus:ring-gray-600"
        >
          No, cancel
        </button>
        <button
          (click)="deleteEvents()"
          type="submit"
          class="py-2 px-3 text-sm font-medium text-center text-white bg-red-600 rounded-lg hover:bg-red-700 focus:ring-4 focus:outline-none focus:ring-red-300"
        >
          Yes, I'm sure
        </button>
      </div>
    </div>
  </div>
</div>
