/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  background: linear-gradient(-45deg, #efe2a1, #a6d5e7, #a9ead9);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
} */
/* body {
  background: linear-gradient(-45deg, #efe2a1, #a6d5e7, #a9ead9);
  
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
} */

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

*::-webkit-scrollbar {
    width: 7px;
  }
  
  *::-webkit-scrollbar-track {
    background: var(rebeccapurple);
    border-radius: 5px;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: rgb(203, 203, 203);
    border-radius: 14px;
    border: 3px solid var(black);
  } 
  
  html {
    scroll-behavior: smooth;
  }